#app {
    
    nav {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    a {
        font-size: 25px;
        color: black;
        font-weight: bold;
    }
    ul {
        list-style-type: none;
    }
    
}