.container_index {
    height: 80vh;
    overflow: auto;
    border: 1px solid black;
    table {
        height: 80vh;
    }
    
}
td, tr, th {
    padding: 1rem;
    border: 1px solid black;
}
td:first-child,
td:last-child {
    width: 10%;
}